project/dev/n8n/templates/personal_assistant.json
{
  "name": "Personal Assistant",
  "nodes": [
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -528,
        2864
      ],
      "id": "ab348b19-99a2-42de-86d3-ec083bad7078",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "options": {
          "systemMessage": "=You are Shabbir Nooruddin's personal assistant. Your job is to make his life easier by being the source of information and execution for a large chunk of his daily tasks.\n\nThe current time is {{ $now }}.\n\nThese include:\n- News\n- Weather\n- Travel information\n- Managing email\n- Creating blog posts\n- Keeping track of expenses\n- Personal Calendar\n- Checking the social media calendar\n\nWEATHER AND NEWS\n----------------\nWhen asked about the weather or news, call the weather and news agent.\n\nFor news, prioritize the most recent stories and just output the headline and a brief summary.\n\nFor weather, only provide temperature, heat index or wind chill, and precipitation. Provide sunrise, sunset, moonrise, moonset if asked.\n\nTRAVEL INFORMATION\n-----------------\nUse the flights and hotel agent to find suitable flights or hotels for my query. Unless I specify otherwise, assume it's economy, one way, use the biggest airport in the city, and as few stops as possible.\n\nMANAGING EMAIL\n---------------\nYou have full access to all of my email and all functions. Assist me however I need. If I ask you to draft an email, confirm the draft with me before you send it. If I don't provide you with an email address, use the Contacts tool to find it, and confirm before sending. If you don't find it, ask me to provide it.\n\nMANAGING EXPENSES\n-----------------\nI will tell you to log or retrieve expenses. Use the finance tracker agent to add expenses or retrieve any information I request. Expense format to add: currency, amount, type - nothing else needed unless I specify.\n\nDEEP RESEARCH\n--------------\nI will ask you any question about anything. Use the deep research agent and retrieve information request. If I specify(don't ask), do deeper research.\n\nCALENDAR\n--------\nUse the Calendar Tool to help me keep track of meetings, book new ones, and manage existing ones. If I ask you to book a meeting with someone, try to find their info using the Contacts tool. If you're unable to find it, ask me for it.\n\nSOCIAL MEDIA CALENDAR\n---------------\nUse the Social Media Calendar tool to retrieve Instagram, LinkedIn, and Tiktok content ideas and suggested frameworks. The Calendar tool must use its own Airtable search tools to find content ideas from MY EXISTING research database.\n\nI will either reject the idea or tell you which framework to choose - send that back to the social media calendar tool and it will take care of the rest. then get back to me with the confirmation you get from the social calendar tool.\n\nCONTENT WRITING\n--------------\nUse the create content tool to write blog posts. I will tell you a topic. Use the tool to write the content. The tool will return a fully formatted blog post, which you are to use the Google Docs tool to generate a new document and reply with the shareable URL.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        2240
      ],
      "id": "9a7a62f1-c3ab-4e72-83d3-c7ec1fe08834",
      "name": "Orchestrator Agent"
    },
    {
      "parameters": {
        "toolDescription": "AI agent to do reseearch on various topics.",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "You have access to the Tavily Tool and Perplexity Tool to research various topics. Use them!\n\nIf the topic requires MORE in-depth research, use the In-Depth Research Tool."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        800,
        2208
      ],
      "id": "abc3124a-2f23-4201-8aa0-c987c1314ceb",
      "name": "Research Agent"
    },
    {
      "parameters": {
        "toolDescription": "Searches tavily for relevant information and sources",
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"{{ $fromAI(\"search_topic\")}}\",\n  \"auto_parameters\": false,\n  \"topic\": \"general\",\n  \"search_depth\": \"basic\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 3,\n  \"include_answer\": true,\n  \"include_raw_content\": true,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_favicon\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": [],\n  \"country\": null\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        832,
        2400
      ],
      "id": "f41d67f4-46ad-43d0-9fc6-24d98ae2ed0b",
      "name": "Tavily Research",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ugAKuytDz61wg9ws",
          "name": "Tavily"
        }
      }
    },
    {
      "parameters": {
        "model": "sonar-pro",
        "messages": {
          "message": [
            {
              "content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message0_Text', ``, 'string') }}"
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexityTool",
      "typeVersion": 1,
      "position": [
        992,
        2384
      ],
      "id": "0228a0c8-004e-463f-b73a-ac1de3062f8b",
      "name": "Message a model in Perplexity",
      "credentials": {
        "perplexityApi": {
          "id": "wL705OXIfF8sibkB",
          "name": "Perplexity account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "in depth research",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        1248,
        2288
      ],
      "id": "c64116d1-9f40-4010-a187-2328e6ec2df4",
      "name": "In-Depth Research Tool"
    },
    {
      "parameters": {
        "model": "sonar-deep-research",
        "messages": {
          "message": [
            {
              "content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message0_Text', ``, 'string') }}"
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexityTool",
      "typeVersion": 1,
      "position": [
        1504,
        2400
      ],
      "id": "4966d70f-ab04-4711-8183-80991202310f",
      "name": "Message a model in Perplexity1",
      "credentials": {
        "perplexityApi": {
          "id": "wL705OXIfF8sibkB",
          "name": "Perplexity account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Research Assistant",
        "height": 432,
        "width": 864,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        768,
        2128
      ],
      "typeVersion": 1,
      "id": "402f6431-ba95-4355-9215-53881dcd5181",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Document Creator and Reporting Agent",
        "height": 144,
        "width": 608
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -928,
        1904
      ],
      "typeVersion": 1,
      "id": "948d3b59-f831-4545-9601-dde4107060ab",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Calendar Agent\n",
        "height": 464,
        "width": 720,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -928,
        2080
      ],
      "typeVersion": 1,
      "id": "e335488f-8ba8-4d46-aa4c-2ba31d3beb21",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Email Agent\n",
        "height": 608,
        "width": 608,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -336,
        1008
      ],
      "typeVersion": 1,
      "id": "bf32518d-085f-4008-9815-dbf7ce0c01b2",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Content Creation Agent\n",
        "height": 608,
        "width": 1296
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        320,
        1008
      ],
      "typeVersion": 1,
      "id": "0b80f229-7363-4d3c-8f6c-64f6c57d8b6b",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Content Planner Agent\n",
        "height": 416,
        "width": 960,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -336,
        2608
      ],
      "typeVersion": 1,
      "id": "20bb1f30-64be-44f7-b0e9-4466ef4aa048",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Finance Tracker",
        "height": 416,
        "width": 544,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -928,
        1008
      ],
      "typeVersion": 1,
      "id": "4a09d9f5-0ced-4047-9187-7e0b162f8fa0",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Weather and News Agent",
        "height": 416,
        "width": 544,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -928,
        1456
      ],
      "typeVersion": 1,
      "id": "48ed06de-a81e-418d-b516-46c891b7dd06",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-20250514",
          "cachedResultName": "Claude 4 Sonnet"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -832,
        2656
      ],
      "id": "f60bc37c-4c92-4975-b578-13f04f174fce",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "KztKfqsNjNkkJM89",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Research AI agent that uses tavily and perplexity to get information about a topic",
        "text": "=You are an expert at researching for writing website content and blog posts. I will provide you with a topic, and you are to use the Perplexity tool and autocomplete suggestions tools to help me craft an engaging title and H2 - H3 structure for the blog post. Your output should be: Title, up to 3 x H2s and nested H3s, nothing else.\n\nThe final H2 should be a conclusion.\n\nTopic: {{ $fromAI(\"search_query\") }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        464,
        1200
      ],
      "id": "bc700652-0174-4ab1-825d-29dd4bfa0011",
      "name": "Titles and Structure Tool"
    },
    {
      "parameters": {
        "model": "sonar-pro",
        "messages": {
          "message": [
            {
              "content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message0_Text', ``, 'string') }}"
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexityTool",
      "typeVersion": 1,
      "position": [
        480,
        1424
      ],
      "id": "566d92fe-d9e6-48e1-9696-7f066901f0e3",
      "name": "Perplexity Tool",
      "credentials": {
        "perplexityApi": {
          "id": "wL705OXIfF8sibkB",
          "name": "Perplexity account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Write blog post section tool",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        816,
        1312
      ],
      "id": "6ed4cab8-e544-48f4-9ed3-030ab57a3664",
      "name": "Write Section Tool"
    },
    {
      "parameters": {
        "toolDescription": "Use replicate to generate an image",
        "method": "POST",
        "url": "https://api.replicate.com/v1/models/black-forest-labs/flux-schnell/predictions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"input\": {\n      \"prompt\": \"{{ $fromAI(\"prompt\") }}\",\n      \"go_fast\": true,\n      \"megapixels\": \"1\",\n      \"num_outputs\": 1,\n      \"aspect_ratio\": \"1:1\",\n      \"output_format\": \"webp\",\n      \"output_quality\": 80,\n      \"num_inference_steps\": 4\n    }\n  }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1216,
        1408
      ],
      "id": "de59bc40-a708-49e7-923b-c225eb131984",
      "name": "Generate Image",
      "credentials": {
        "httpHeaderAuth": {
          "id": "sF9lQ2gNQ4fKGCox",
          "name": "Replicate"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Check status of generated image",
        "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1376,
        1392
      ],
      "id": "be69d1ce-a5ef-4020-b4cd-436a091065d6",
      "name": "Check Status",
      "credentials": {
        "httpHeaderAuth": {
          "id": "sF9lQ2gNQ4fKGCox",
          "name": "Replicate"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "AI agent that can generate images",
        "text": "=You are an expert at crafting prompts for AI-powered image generation models.\n\nThis is the topic my article is about: {{ $fromAI(\"topic\") }}\n\nThis is the image style:\n{{ $fromAI(\"style\") }}\n\nUse the Replicate Generate Image tool to start the image generation process. Then use the Get Image(use the urls.get field to check) and keep checking until the status is complete, and once complete, return the image URL.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        1152,
        1216
      ],
      "id": "8769312e-6c70-4d1f-84d8-e6166306e3b5",
      "name": "Generate Image Tool"
    },
    {
      "parameters": {
        "toolDescription": "Get autocomplete suggestions",
        "url": "=https://serpapi.com/search.json?engine=google_autocomplete&q={{ $fromAI(\"keyword_as_searched_by_user\") }}&api_key=a60317e455992230c808d2c9028f2d634c4758d691e9729b1d3c6075ed20736f",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        384,
        1424
      ],
      "id": "1e7c9c1a-123a-43c4-b963-1f6433c3929d",
      "name": "Autocomplete Suggestions"
    },
    {
      "parameters": {
        "toolDescription": "Write Blog Posts",
        "text": "=You are an expert SEO content writer. You know how to research inch wide, mile deep, and you write insightful, well-researched, engaging, and READABLE content pieces about all topics.\n\nI will provide you with a keyword. Use the Generate Title and Structure tool to create a skeleton for the article.\n\nThen, write out the blog post, section by section, using the Perplexity and Tavily research tools to get data, and the Write section tool to write out each H2 section, and importantly linking out to sources wherever relevant.\n\nThen call the Generate Image tool and get the image URL - one image per blog post, to be inserted right before the first H2\n\nDo this iteratively until your output is a final, compiled, HTML-formatted blog post that's ready to publish.\n\nWorkflow:\n\n1) receive keyword\n2) generate title and structure\n3) generate introduction\n4) generate each section one-by-one\n5) Generate Image\n6) compile into ready blog post and output to user\n\nOutput format for blog post\n\n<h1>Title...</h1>\n<p>intro</p>\n<h2>heading</h2>\n<h3>heading</h3>\n<p>text</p>\netc etc",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        832,
        1040
      ],
      "id": "02c9e4e7-806d-46e2-b779-04a9376484db",
      "name": "Blog Post Writer"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appHZEVzMHF9eGIx6",
          "mode": "list",
          "cachedResultName": "Expense Tracker",
          "cachedResultUrl": "https://airtable.com/appHZEVzMHF9eGIx6"
        },
        "table": {
          "__rl": true,
          "value": "tblSi2ykaaw77cG8C",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appHZEVzMHF9eGIx6/tblSi2ykaaw77cG8C"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        -544,
        1264
      ],
      "id": "5de97ae4-c012-4bbc-b00b-31666ff86fa3",
      "name": "Search Entries",
      "credentials": {
        "airtableTokenApi": {
          "id": "zWLJcCryxTdKGkUW",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appHZEVzMHF9eGIx6",
          "mode": "list",
          "cachedResultName": "Expense Tracker",
          "cachedResultUrl": "https://airtable.com/appHZEVzMHF9eGIx6"
        },
        "table": {
          "__rl": true,
          "value": "tblSi2ykaaw77cG8C",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appHZEVzMHF9eGIx6/tblSi2ykaaw77cG8C"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Expense": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Expense', ``, 'string') }}",
            "Amount": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Amount', ``, 'number') }}",
            "Category": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Category', ``, 'string') }}",
            "Date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Date', `datetime variable`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Expense",
              "displayName": "Expense",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Amount",
              "displayName": "Amount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        -784,
        1264
      ],
      "id": "05a0c576-c9a5-46f0-83d3-ca8e837cdc87",
      "name": "Create Entry",
      "credentials": {
        "airtableTokenApi": {
          "id": "zWLJcCryxTdKGkUW",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Personal Finance Tracker Agent",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "You are a helpful assistant for an expense tracker. First, you must determine whether the input I provide you with is adding a new entry or inquiring about existing entries.\n\nCurrency is Indian rupee or INR\n\nThe current date is {{ $now }}\n\nIf it's a new entry: Create a new entry with a corresponding category: entertainment, food, eating out, travel, transport, health, personal. Update the date field using an ISO 8601 format date, sent as a datetime variable, NOT a string.\n\nIf you receive a bunch of text from a scanned invoice, determine the date and amount and create a single entry.\n\nWhen you reply with a confirmation of an entry you made, only confirm the last successful entry, not any earlier ones. One message from you should only confirm a single transaction.\n\nIf it's an inquiry, use the search entries tool to get information and answer my question."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        -784,
        1104
      ],
      "id": "2cda8fab-decc-44f2-9f76-0b92a1f8764f",
      "name": "Finance Tracker Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        -688,
        2656
      ],
      "id": "31add5d6-385e-4ecd-9117-49d9248b8370",
      "name": "Think"
    },
    {
      "parameters": {
        "toolDescription": "weather and news agent",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "You have access to two tools: SerpAPI for news and WeatherAPI for weather."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        -800,
        1536
      ],
      "id": "8c17f65b-cfba-4f3e-bbda-ad477fe1a300",
      "name": "Weather and News Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -688,
        2864
      ],
      "id": "178ce821-afec-487d-bd43-c08bc8317eb4",
      "name": "GPT-5-Nano",
      "credentials": {
        "openAiApi": {
          "id": "ybRg3lag38rmtn5D",
          "name": "Shab OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "SERPapi for news",
        "url": "https://serpapi.com/search?engine=google_news_light",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "serpApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `the news query to search for`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -576,
        1712
      ],
      "id": "4a560e38-63a3-4a0f-ac75-d075902d4fcb",
      "name": "SERPapi news",
      "credentials": {
        "serpApi": {
          "id": "0AjAkX6NaUZZN3CY",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Get weather information",
        "url": "http://api.weatherapi.com/v1//forecast.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `the location (US UK CN zip code or city name)`, 'string') }}"
            },
            {
              "name": "days",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', `how many days forecast required. if not specified, then blank.`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -864,
        1712
      ],
      "id": "4b44dd06-c329-4813-a37c-c947d705fc13",
      "name": "Weather",
      "credentials": {
        "httpQueryAuth": {
          "id": "TDijiMdeU8qJprJW",
          "name": "WeatherAPI"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Calendar Tool",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "=The current date is {{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        -896,
        2192
      ],
      "id": "b9a644e7-664e-4806-9f44-56ab2a561bbf",
      "name": "Calendar Agent"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "shabbir@shabbirnoor.com",
          "mode": "list",
          "cachedResultName": "shabbir@shabbirnoor.com"
        },
        "additionalFields": {
          "attendees": [
            "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('attendees0_Attendees', ``, 'string') }}"
          ],
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "location": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Location', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -320,
        2352
      ],
      "id": "73168733-7ecf-4809-a95a-6c7bdb2cefa2",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "51R9cHizp3jWVLGz",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "shabbir@shabbirnoor.com",
          "mode": "list",
          "cachedResultName": "shabbir@shabbirnoor.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -464,
        2352
      ],
      "id": "00cfa287-48fc-4f5a-b363-f56c4755af6e",
      "name": "Delete an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "51R9cHizp3jWVLGz",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "shabbir@shabbirnoor.com",
          "mode": "list",
          "cachedResultName": "shabbir@shabbirnoor.com"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -592,
        2352
      ],
      "id": "638c0aad-8fab-4cd2-8221-00a1c2653bb0",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "51R9cHizp3jWVLGz",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "calendar": {
          "__rl": true,
          "value": "shabbir@shabbirnoor.com",
          "mode": "list",
          "cachedResultName": "shabbir@shabbirnoor.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -736,
        2352
      ],
      "id": "dabf3c58-a204-4333-8f86-2e076b96da56",
      "name": "Get an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "51R9cHizp3jWVLGz",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "shabbir@shabbirnoor.com",
          "mode": "list",
          "cachedResultName": "shabbir@shabbirnoor.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "useDefaultReminders": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Default_Reminders', ``, 'boolean') }}",
        "updateFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -880,
        2352
      ],
      "id": "518ad3b7-c757-4fb2-8963-1e2c8d389087",
      "name": "Update an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "51R9cHizp3jWVLGz",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Contacts Agent\n",
        "height": 416,
        "width": 848,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        768,
        1680
      ],
      "typeVersion": 1,
      "id": "bcadc89c-6567-4db3-9975-31686893f854",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "toolDescription": "email management tool",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        -144,
        1056
      ],
      "id": "5c3eea1f-d673-4436-b13b-2cc95177efb8",
      "name": "Email Management Agent"
    },
    {
      "parameters": {
        "content": "## Travel Agent",
        "height": 416,
        "width": 944,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        672,
        2608
      ],
      "typeVersion": 1,
      "id": "f707197d-2734-4463-99e5-0ceb9c0c53f9",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "toolDescription": "Get Contacts from Google",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        992,
        1744
      ],
      "id": "698e18a7-4590-4bb8-9ade-233e27bf10e2",
      "name": "Get Contact Info"
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "fields": [
          "emailAddresses",
          "phoneNumbers",
          "addresses"
        ],
        "useQuery": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Query', ``, 'boolean') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleContactsTool",
      "typeVersion": 1,
      "position": [
        1408,
        1904
      ],
      "id": "0fa30da0-4e46-4f6c-ad2c-29c08c41eea3",
      "name": "Get many contacts in Google Contacts",
      "credentials": {
        "googleContactsOAuth2Api": {
          "id": "qzec78Rs8z6LgndX",
          "name": "Google Contacts account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "contactId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Contact_ID', ``, 'string') }}",
        "fields": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fields', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.googleContactsTool",
      "typeVersion": 1,
      "position": [
        1232,
        1904
      ],
      "id": "9ba8bcc1-4cdf-47f7-b0c8-67e610dd466a",
      "name": "Get a contact in Google Contacts",
      "credentials": {
        "googleContactsOAuth2Api": {
          "id": "qzec78Rs8z6LgndX",
          "name": "Google Contacts account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Get flight and hotel information",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "=Your job is to find flights and/or hotels using the find flights and find hotels tools.\n\nAt the very least, for any query, you'll need departure and arrival locations and and a departure date. If nothing else is provided, assume that it's a one way for one adult.\n\nHere's the variable structure to insert into the URL:\n\n&departure_id={departure_id}&arrival_id={arrival_id}&outbound_date={outbound_date}&return_date={return_date}&currency=USD&hl=en&gl=us&adults={adults}\n\nYou can use the following parameters to construct the URL. Do not send empty parameters\n\ndeparture_id = departing airport code, extrapolate from the city name and use the biggest airport unless specified otherwise.\narrival_id = arrival airport code, extrapolate from the city name and use the biggest airport unless specified otherwise.\noutbound_date\nreturn_date\nadults\nchildren\ninfants_on_lap\ninfants_in_seat\ntravel_class {1 - economy, 2 - premium, 3 - business, 4 - first} pass number only\n\nAdd &type=2 if one way, which is default unless i specify a return date\n\nHotels\n\nAsk about children ages if there are children present and I haven't provided ages. Default is 4 star hotel class and above unless I specify. Rating minimum 4.\n\nHere's the variable structure to insert into the URL\n\n&q=Bali+Resorts&check_in_date=2025-06-05&check_out_date=2025-06-06&adults=2&currency=USD&gl=us&hl=en\n\nYou can use the following parameters to construct the URL. Do not send empty parameters\n\nq = query (eg Hotels in Bali)\ncheck_in_date\ncheck_out_date\nadults\nchildren\nchildren_ages {required if children present, prompt and ask if i dont provide}\nrating { Available options:\n7 - 3.5+\n8 - 4.0+\n9 - 4.5+ }\nhotel_class { 2 - 2-star\n3 - 3-star\n4 - 4-star\n5 - 5-star }\n\nProvide the top 3 options weighted by cost effectiveness and comfort."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        1040,
        2656
      ],
      "id": "2ebb5257-dbbe-463b-a0c4-39ae8d14fb64",
      "name": "Travel Agent"
    },
    {
      "parameters": {
        "toolDescription": "get flight information",
        "url": "=https://serpapi.com/search?engine=google_flights&{params}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "serpApi",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "{params}",
              "description": "entire parameter string from the system message"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        960,
        2864
      ],
      "id": "d12a07f4-d3bf-47b7-adcb-5d527e1e0892",
      "name": "Check Flights",
      "credentials": {
        "serpApi": {
          "id": "0AjAkX6NaUZZN3CY",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "get hotel information",
        "url": "=https://serpapi.com/search?engine=google_hotels&{params}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "serpApi",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "params",
              "description": "entire parameter string from the system message"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1232,
        2864
      ],
      "id": "a3cf9f26-9fc4-46fb-990f-c087b9de1c2b",
      "name": "Check Hotels",
      "credentials": {
        "httpQueryAuth": {
          "id": "TDijiMdeU8qJprJW",
          "name": "WeatherAPI"
        },
        "serpApi": {
          "id": "0AjAkX6NaUZZN3CY",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Add one or more labels to an email message. AI-configurable parameters: Message_ID (string) - the ID of the message to label; Label_Names_or_IDs (string) - comma-separated label names or IDs to apply.",
        "operation": "addLabels",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}",
        "labelIds": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Label_Names_or_IDs', ``, 'string') }}"
      },
      "id": "71af1692-ab4d-4639-9065-9b4e7e431fd6",
      "name": "addLabels1",
      "type": "n8n-nodes-base.gmailTool",
      "position": [
        144,
        1360
      ],
      "webhookId": "81d61988-8213-4175-b75d-76cb67ce4a3b",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "47wVmO3uPCdVj57K",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Delete an email message. AI-configurable parameters: Message_ID (string) - the ID of the message to delete.",
        "operation": "delete",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}"
      },
      "id": "9bf52760-e747-4f12-a808-08f93b7997b3",
      "name": "delete1",
      "type": "n8n-nodes-base.gmailTool",
      "position": [
        -128,
        1200
      ],
      "webhookId": "03319c28-ef88-40f4-897c-f44c21dbdf1f",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "47wVmO3uPCdVj57K",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Retrieve details of an email message. AI-configurable parameters: Message_ID (string) - the ID of the message to retrieve.",
        "operation": "get",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}"
      },
      "id": "42115f6a-01b6-4df6-b45c-3f2c354d355e",
      "name": "get1",
      "type": "n8n-nodes-base.gmailTool",
      "position": [
        64,
        1216
      ],
      "webhookId": "cf5acbf3-a08f-4da6-9f14-9751eed6e5b8",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "47wVmO3uPCdVj57K",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Retrieve multiple email messages based on filters. AI-configurable parameters: Return_All (boolean) - whether to return all matching messages; Search (string) - Gmail query string to filter messages; Received_After (string) - datetime (RFC3339) after which messages are received; Received_Before (string) - datetime before which messages are received; Sender (string) - email address of the sender.",
        "operation": "getAll",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "filters": {
          "q": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Search', ``, 'string') }}",
          "receivedAfter": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Received_After', ``, 'string') }}",
          "receivedBefore": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Received_Before', ``, 'string') }}",
          "sender": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sender', ``, 'string') }}"
        }
      },
      "id": "a5713b1f-2dd5-4d39-b448-cb6f1bc833ff",
      "name": "search1",
      "type": "n8n-nodes-base.gmailTool",
      "position": [
        176,
        1216
      ],
      "webhookId": "cb3d028a-6cab-4946-b368-aa56bf271af9",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "47wVmO3uPCdVj57K",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Mark an email message as read. AI-configurable parameters: Message_ID (string) - the ID of the message to mark as read.",
        "operation": "markAsRead",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}"
      },
      "id": "500f8d15-4bab-4e63-bfc6-b8364a18b22c",
      "name": "markAsRead1",
      "type": "n8n-nodes-base.gmailTool",
      "position": [
        -288,
        1360
      ],
      "webhookId": "e769b7cf-9622-434d-b98d-4bde7653238d",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "47wVmO3uPCdVj57K",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Mark an email message as unread. AI-configurable parameters: Message_ID (string) - the ID of the message to mark as unread.",
        "operation": "markAsUnread",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}"
      },
      "id": "e042220a-af6d-445e-8c64-1dcf4a2e909a",
      "name": "markAsUnread1",
      "type": "n8n-nodes-base.gmailTool",
      "position": [
        -128,
        1360
      ],
      "webhookId": "c26a8635-4329-498e-b293-4350baed493d",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "47wVmO3uPCdVj57K",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Reply to an email message. AI-configurable parameters: Message_ID (string) - the ID of the message; Message (string) - the reply content; Attachment_Field_Name (string) - input field name containing attachments; BCC (string) - comma-separated BCC recipients; CC (string) - comma-separated CC recipients.",
        "operation": "reply",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Attachment_Field_Name', ``, 'string') }}"
              }
            ]
          },
          "bccList": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('BCC', ``, 'string') }}",
          "ccList": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('CC', ``, 'string') }}"
        }
      },
      "id": "82cbcc39-1322-4349-90c3-12cf3b17c0d6",
      "name": "reply1",
      "type": "n8n-nodes-base.gmailTool",
      "position": [
        -272,
        1216
      ],
      "webhookId": "fbd30b84-25ac-4bab-8a66-5366b9b7a0be",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "47wVmO3uPCdVj57K",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Remove one or more labels from an email message. AI-configurable parameters: Message_ID (string) - the ID of the message; Label_Names_or_IDs (string) - comma-separated label names or IDs to remove.",
        "operation": "removeLabels",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}",
        "labelIds": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Label_Names_or_IDs', ``, 'string') }}"
      },
      "id": "739db2a9-120a-459a-9fb7-cf9c78eee7d8",
      "name": "removeLabels1",
      "type": "n8n-nodes-base.gmailTool",
      "position": [
        16,
        1360
      ],
      "webhookId": "e83fb7ee-2716-444b-9a4e-208eea215728",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "47wVmO3uPCdVj57K",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -16,
        1488
      ],
      "id": "63ee6a1d-682b-4ccd-80af-0bb6a6f4283a",
      "name": "Send a message in Gmail",
      "webhookId": "22665ce2-0110-4d53-b3e2-16db4ce7815b",
      "credentials": {
        "gmailOAuth2": {
          "id": "47wVmO3uPCdVj57K",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "## AI Stack",
        "height": 416,
        "width": 544,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -928,
        2608
      ],
      "typeVersion": 1,
      "id": "f0dc38bc-3850-4a24-82dd-7aa9e212e428",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "toolDescription": "Social Media Calendar Tool",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "You are a helpful assistant. You have a Get LinkedIn Ideas Tool, a Get Tiktok Ideas Tool, and a Get Instagram Ideas Tool.\n\nYou also have access to Choose Instagram Idea, Choose Tiktok Idea, and Choose LinkedIn Idea - use these to update the chosen records with my chosen framework and generate or reject command.\n\nThe Framework parameter should be passed as Framework 1 Framework 2 or Framework 3\n\nAnd the Status parameter should be passed as Generate Content or Reject"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        0,
        2672
      ],
      "id": "832711c1-2d92-487a-a2ff-d8564c69c24c",
      "name": "Social Media Calendar"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Find Instagram Ideas",
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app7GtQRtd1vnFEdW",
          "mode": "list",
          "cachedResultName": "Social Automation",
          "cachedResultUrl": "https://airtable.com/app7GtQRtd1vnFEdW"
        },
        "table": {
          "__rl": true,
          "value": "tbla6GNwPXjx0yalQ",
          "mode": "list",
          "cachedResultName": "Instagram Ideas",
          "cachedResultUrl": "https://airtable.com/app7GtQRtd1vnFEdW/tbla6GNwPXjx0yalQ"
        },
        "filterByFormula": "=AND(\n  Action != \"Reject\",\n  Action != \"Generate Content\"\n)",
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        192,
        2864
      ],
      "id": "8748ae96-44a4-49df-a2ab-1a42afcf84b7",
      "name": "Get Instagram Ideas",
      "credentials": {
        "airtableTokenApi": {
          "id": "zWLJcCryxTdKGkUW",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Find LinkedIn Ideas",
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app7GtQRtd1vnFEdW",
          "mode": "list",
          "cachedResultName": "Social Automation",
          "cachedResultUrl": "https://airtable.com/app7GtQRtd1vnFEdW"
        },
        "table": {
          "__rl": true,
          "value": "tblHfwIJxk5aJllTO",
          "mode": "list",
          "cachedResultName": "LinkedIn Ideas",
          "cachedResultUrl": "https://airtable.com/app7GtQRtd1vnFEdW/tblHfwIJxk5aJllTO"
        },
        "filterByFormula": "=AND(\n  Action != \"Reject\",\n  Action != \"Generate Content\"\n)",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        352,
        2864
      ],
      "id": "8ae9a482-8d4d-427c-83f1-d9b1e03f06eb",
      "name": "Get LinkedIn Ideas",
      "credentials": {
        "airtableTokenApi": {
          "id": "zWLJcCryxTdKGkUW",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Find Tiktok Ideas",
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app7GtQRtd1vnFEdW",
          "mode": "list",
          "cachedResultName": "Social Automation",
          "cachedResultUrl": "https://airtable.com/app7GtQRtd1vnFEdW"
        },
        "table": {
          "__rl": true,
          "value": "tbl0RiS6dwyWmEVwz",
          "mode": "list",
          "cachedResultName": "TikTok Ideas",
          "cachedResultUrl": "https://airtable.com/app7GtQRtd1vnFEdW/tbl0RiS6dwyWmEVwz"
        },
        "filterByFormula": "=AND(\n  Action != \"Reject\",\n  Action != \"Generate Content\"\n)",
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        496,
        2864
      ],
      "id": "71d820c2-f0cb-4938-b347-3f380e79165a",
      "name": "Get Tiktok Ideas",
      "credentials": {
        "airtableTokenApi": {
          "id": "zWLJcCryxTdKGkUW",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Choose Instagram Ideas",
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "app7GtQRtd1vnFEdW",
          "mode": "list",
          "cachedResultName": "Social Automation",
          "cachedResultUrl": "https://airtable.com/app7GtQRtd1vnFEdW"
        },
        "table": {
          "__rl": true,
          "value": "tbla6GNwPXjx0yalQ",
          "mode": "list",
          "cachedResultName": "Instagram Ideas",
          "cachedResultUrl": "https://airtable.com/app7GtQRtd1vnFEdW/tbla6GNwPXjx0yalQ"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Selected Framework": "={{ $fromAI(\"framework\") }}",
            "Action": "={{ $fromAI(\"action\") }}",
            "URL": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL__using_to_match_', ``, 'string') }}"
          },
          "matchingColumns": [
            "URL"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Post ID",
              "displayName": "Post ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Post Type",
              "displayName": "Post Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Reel",
                  "value": "Reel"
                },
                {
                  "name": "Carousel",
                  "value": "Carousel"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Number of Slides",
              "displayName": "Number of Slides",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Caption",
              "displayName": "Caption",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Script",
              "displayName": "Script",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Viral Score",
              "displayName": "Viral Score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Primary Strengths",
              "displayName": "Primary Strengths",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Idea Framework 1",
              "displayName": "Idea Framework 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Idea Framework 2",
              "displayName": "Idea Framework 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Idea Framework 3",
              "displayName": "Idea Framework 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Selected Framework",
              "displayName": "Selected Framework",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Framework 1",
                  "value": "Framework 1"
                },
                {
                  "name": "Framework 2",
                  "value": "Framework 2"
                },
                {
                  "name": "Framework 3",
                  "value": "Framework 3"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Action",
              "displayName": "Action",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Generate Content",
                  "value": "Generate Content"
                },
                {
                  "name": "Reject",
                  "value": "Reject"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        -272,
        2864
      ],
      "id": "fb0be440-f933-41e2-9125-b4189488f7d4",
      "name": "Choose Instagram Idea",
      "credentials": {
        "airtableTokenApi": {
          "id": "zWLJcCryxTdKGkUW",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Choose LinkedIn Ideas",
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "app7GtQRtd1vnFEdW",
          "mode": "list",
          "cachedResultName": "Social Automation",
          "cachedResultUrl": "https://airtable.com/app7GtQRtd1vnFEdW"
        },
        "table": {
          "__rl": true,
          "value": "tbla6GNwPXjx0yalQ",
          "mode": "list",
          "cachedResultName": "Instagram Ideas",
          "cachedResultUrl": "https://airtable.com/app7GtQRtd1vnFEdW/tbla6GNwPXjx0yalQ"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Selected Framework": "={{ $fromAI(\"framework\") }}",
            "Action": "={{ $fromAI(\"action\") }}",
            "URL": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL__using_to_match_', ``, 'string') }}"
          },
          "matchingColumns": [
            "URL"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Post ID",
              "displayName": "Post ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Post Type",
              "displayName": "Post Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Reel",
                  "value": "Reel"
                },
                {
                  "name": "Carousel",
                  "value": "Carousel"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Number of Slides",
              "displayName": "Number of Slides",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Caption",
              "displayName": "Caption",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Script",
              "displayName": "Script",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Viral Score",
              "displayName": "Viral Score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Primary Strengths",
              "displayName": "Primary Strengths",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Idea Framework 1",
              "displayName": "Idea Framework 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Idea Framework 2",
              "displayName": "Idea Framework 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Idea Framework 3",
              "displayName": "Idea Framework 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Selected Framework",
              "displayName": "Selected Framework",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Framework 1",
                  "value": "Framework 1"
                },
                {
                  "name": "Framework 2",
                  "value": "Framework 2"
                },
                {
                  "name": "Framework 3",
                  "value": "Framework 3"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Action",
              "displayName": "Action",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Generate Content",
                  "value": "Generate Content"
                },
                {
                  "name": "Reject",
                  "value": "Reject"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        -112,
        2864
      ],
      "id": "a5a5fdb7-e8fd-46b3-a108-1e3f901fd1d8",
      "name": "Choose LinkedIn Ideas",
      "credentials": {
        "airtableTokenApi": {
          "id": "zWLJcCryxTdKGkUW",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Choose Tiktok Idea",
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "app7GtQRtd1vnFEdW",
          "mode": "list",
          "cachedResultName": "Social Automation",
          "cachedResultUrl": "https://airtable.com/app7GtQRtd1vnFEdW"
        },
        "table": {
          "__rl": true,
          "value": "tbla6GNwPXjx0yalQ",
          "mode": "list",
          "cachedResultName": "Instagram Ideas",
          "cachedResultUrl": "https://airtable.com/app7GtQRtd1vnFEdW/tbla6GNwPXjx0yalQ"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Selected Framework": "={{ $fromAI(\"framework\") }}",
            "Action": "={{ $fromAI(\"action\") }}",
            "URL": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL__using_to_match_', ``, 'string') }}"
          },
          "matchingColumns": [
            "URL"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Post ID",
              "displayName": "Post ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Post Type",
              "displayName": "Post Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Reel",
                  "value": "Reel"
                },
                {
                  "name": "Carousel",
                  "value": "Carousel"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Number of Slides",
              "displayName": "Number of Slides",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Caption",
              "displayName": "Caption",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Script",
              "displayName": "Script",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Viral Score",
              "displayName": "Viral Score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Primary Strengths",
              "displayName": "Primary Strengths",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Idea Framework 1",
              "displayName": "Idea Framework 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Idea Framework 2",
              "displayName": "Idea Framework 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Idea Framework 3",
              "displayName": "Idea Framework 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Selected Framework",
              "displayName": "Selected Framework",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Framework 1",
                  "value": "Framework 1"
                },
                {
                  "name": "Framework 2",
                  "value": "Framework 2"
                },
                {
                  "name": "Framework 3",
                  "value": "Framework 3"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Action",
              "displayName": "Action",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Generate Content",
                  "value": "Generate Content"
                },
                {
                  "name": "Reject",
                  "value": "Reject"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        32,
        2864
      ],
      "id": "59a66452-ffdb-454e-b7c2-6392181eb689",
      "name": "Choose Tiktok Idea",
      "credentials": {
        "airtableTokenApi": {
          "id": "zWLJcCryxTdKGkUW",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "folderId": "default",
        "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        -704,
        1936
      ],
      "id": "73c21e67-ab0a-4af0-8dff-a3282c7a2aeb",
      "name": "Create a document in Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "44goXqIxMgzHbg4q",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Doc_ID_or_URL', ``, 'string') }}",
        "simple": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', ``, 'boolean') }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('actionFields0_Text', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        -544,
        1936
      ],
      "id": "d1115c8a-b12a-476d-9256-dd2ffa80d19d",
      "name": "Update a document in Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "44goXqIxMgzHbg4q",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Doc_ID_or_URL', ``, 'string') }}",
        "simple": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', ``, 'boolean') }}"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        -896,
        1936
      ],
      "id": "a062c17a-c1ca-4165-bade-92d8904f1014",
      "name": "Get a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "44goXqIxMgzHbg4q",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        496,
        2080
      ],
      "id": "17a68729-50ca-4d69-83b8-8f545fe4b8ca",
      "name": "Send a text message",
      "webhookId": "aec94a2e-a0b1-4d58-b957-59cd84341373",
      "credentials": {
        "telegramApi": {
          "id": "H4dabRyyq80uTFlO",
          "name": "Personal Assistant"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -16,
        1840
      ],
      "id": "79ea692d-fd8f-49b9-983c-8e3e0b1fcfc5",
      "name": "Telegram Trigger",
      "webhookId": "1f9dbd4f-178e-4f2f-9a4c-d2ecd283ef85",
      "credentials": {
        "telegramApi": {
          "id": "H4dabRyyq80uTFlO",
          "name": "Personal Assistant"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        144,
        2016
      ],
      "id": "3c900ea7-b7c9-4f99-a19d-6f0511501394",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "ybRg3lag38rmtn5D",
          "name": "Shab OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "79308d08-eb8b-42af-a350-100ccb56dea1",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "aa713a2a-0c8e-4dc7-95fa-2b45d7b2919f",
                    "leftValue": "={{ $json.message.voice }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        304,
        1840
      ],
      "id": "9be7ccc0-ab5f-4456-a0af-2ab24072cdb2",
      "name": "Check Data Type"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        464,
        1888
      ],
      "id": "58f20288-3f5e-4ef2-83e0-c92cce9036d7",
      "name": "Download Audio",
      "webhookId": "e582ca1b-8031-4189-849d-003f646876e5",
      "credentials": {
        "telegramApi": {
          "id": "H4dabRyyq80uTFlO",
          "name": "Personal Assistant"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e997b462-3fec-4b74-adc0-909978bf7681",
              "name": "prompt",
              "value": "= {{ $('Telegram Trigger').item.json.message.text }} {{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        2176
      ],
      "id": "296c80d3-2fbd-4faf-95df-01c5f15944b0",
      "name": "Combine fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e53859ef-a47b-4819-9c65-d0838c6c8d50",
              "leftValue": "={{ $json.message.chat.id }}",
              "rightValue": 5675741296,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        160,
        1840
      ],
      "id": "8857a3b5-b33d-4489-8672-3914686a0dd6",
      "name": "Filter"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 7
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -832,
        2864
      ],
      "id": "424704be-6439-4bc5-9397-08186d971cf9",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "Z6PpAvmCDzM59S2o",
          "name": "Personal Assistant Memory"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -528,
        2656
      ],
      "id": "01b15d8a-779c-4dcb-a484-6b819b42cad1",
      "name": "GPT-4.1",
      "credentials": {
        "openAiApi": {
          "id": "ybRg3lag38rmtn5D",
          "name": "Shab OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 608,
        "width": 688
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -64,
        1792
      ],
      "typeVersion": 1,
      "id": "107f5880-c33e-4436-8d49-60e888d15b7f",
      "name": "Sticky Note10"
    }
  ],
  "pinData": {},
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Blog Post Writer",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Email Management Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Finance Tracker Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Travel Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Social Media Calendar",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Research Agent": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Blog Post Writer",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tavily Research": {
      "ai_tool": [
        [
          {
            "node": "Research Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Message a model in Perplexity": {
      "ai_tool": [
        [
          {
            "node": "Research Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "In-Depth Research Tool": {
      "ai_tool": [
        [
          {
            "node": "Research Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Message a model in Perplexity1": {
      "ai_tool": [
        [
          {
            "node": "In-Depth Research Tool",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Blog Post Writer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Titles and Structure Tool": {
      "ai_tool": [
        [
          {
            "node": "Blog Post Writer",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity Tool": {
      "ai_tool": [
        [
          {
            "node": "Titles and Structure Tool",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Write Section Tool": {
      "ai_tool": [
        [
          {
            "node": "Blog Post Writer",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image": {
      "ai_tool": [
        [
          {
            "node": "Generate Image Tool",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "ai_tool": [
        [
          {
            "node": "Generate Image Tool",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image Tool": {
      "ai_tool": [
        [
          {
            "node": "Blog Post Writer",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Autocomplete Suggestions": {
      "ai_tool": [
        [
          {
            "node": "Titles and Structure Tool",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Blog Post Writer": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search Entries": {
      "ai_tool": [
        [
          {
            "node": "Finance Tracker Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Entry": {
      "ai_tool": [
        [
          {
            "node": "Finance Tracker Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Finance Tracker Agent": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Weather and News Agent": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GPT-5-Nano": {
      "ai_languageModel": [
        [
          {
            "node": "Weather and News Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Calendar Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Titles and Structure Tool",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Generate Image Tool",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Get Contact Info",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Travel Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Social Media Calendar",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "SERPapi news": {
      "ai_tool": [
        [
          {
            "node": "Weather and News Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Weather": {
      "ai_tool": [
        [
          {
            "node": "Weather and News Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Agent": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Contact Info": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many contacts in Google Contacts": {
      "ai_tool": [
        [
          {
            "node": "Get Contact Info",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get a contact in Google Contacts": {
      "ai_tool": [
        [
          {
            "node": "Get Contact Info",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Travel Agent": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Check Flights": {
      "ai_tool": [
        [
          {
            "node": "Travel Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Check Hotels": {
      "ai_tool": [
        [
          {
            "node": "Travel Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Email Management Agent": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "markAsRead1": {
      "ai_tool": [
        [
          {
            "node": "Email Management Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "markAsUnread1": {
      "ai_tool": [
        [
          {
            "node": "Email Management Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "removeLabels1": {
      "ai_tool": [
        [
          {
            "node": "Email Management Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "addLabels1": {
      "ai_tool": [
        [
          {
            "node": "Email Management Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "search1": {
      "ai_tool": [
        [
          {
            "node": "Email Management Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get1": {
      "ai_tool": [
        [
          {
            "node": "Email Management Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "delete1": {
      "ai_tool": [
        [
          {
            "node": "Email Management Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "reply1": {
      "ai_tool": [
        [
          {
            "node": "Email Management Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "Email Management Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Social Media Calendar": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Instagram Ideas": {
      "ai_tool": [
        [
          {
            "node": "Social Media Calendar",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get LinkedIn Ideas": {
      "ai_tool": [
        [
          {
            "node": "Social Media Calendar",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Tiktok Ideas": {
      "ai_tool": [
        [
          {
            "node": "Social Media Calendar",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Choose Instagram Idea": {
      "ai_tool": [
        [
          {
            "node": "Social Media Calendar",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Choose LinkedIn Ideas": {
      "ai_tool": [
        [
          {
            "node": "Social Media Calendar",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Choose Tiktok Idea": {
      "ai_tool": [
        [
          {
            "node": "Social Media Calendar",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create a document in Google Docs": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update a document in Google Docs": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get a document": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Orchestrator Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Combine fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Data Type": {
      "main": [
        [
          {
            "node": "Combine fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine fields": {
      "main": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Check Data Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4.1": {
      "ai_languageModel": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Research Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "In-Depth Research Tool",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Finance Tracker Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Email Management Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Write Section Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "edbe2549-7159-4cd3-ab68-a147f028db68",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f8d903bf41171a711206c3bb74b40015823841bf2b93e148da68e764370f1965"
  },
  "id": "cgpXg8KmAEaVsnBH",
  "tags": []
}